
.footer{
  min-width: 1200px;
  padding-top: 86px;
  background: #D2D2D2;
  color: #111111;
}

.footer-title{
  font-size: 20px;
  color: #000000;
  padding-bottom: 28px ;
  font-weight: bold;
}

.footer-item-text{
  font-size: 14px;
  padding-bottom: 24px;
  color: #111111;
}

.footer-item-text-link{
  color: #111111;
  cursor: pointer;
}

.footer-item-text > p{
  font-size: 14px;
  line-height: 24px;
  color: #111111;
}

.footer-box{
  display: flex;
  padding-bottom: 20px;
}

.footer-about{
  width: 332px;
  padding-left: 113px;
  box-sizing: border-box;
}

.footer-server{
  width: 244px;
}

.footer-contact{
  width: 340px;
  padding-left: 26px;
  box-sizing: border-box;
}

.footer-follow {
  width: 315px;
  padding-left: 26px;
  box-sizing: border-box;
}

.footer-code{
  width: 300px;
  padding-left: 26px;
  box-sizing: border-box;
  font-size: 16px;
}

.footer-code-box{
  width: 116px;
  height: 116px;
  overflow: hidden;
  margin-bottom: 12px;
}

.footer-code-title{
  font-size: 16px;
  padding-left: 18px;
}

.footer-follow-item-img {
  float: left;
  display: block;
  margin-right: 30px;
  cursor: pointer;
}

.footer-follow-img-icon {
  margin-bottom: 10px;
}

.footer-follow-item-img-text{
  color: #111111;
  padding-left: 15px;
  font-size: 14px;
}

.footer-copyright{
  height: 116px;
  box-sizing: border-box;
  padding-left: 288px;
}

.footer-copyright-text{
  font-size: 14px;
  color: #6e6e6e;
  display: inline-block;
  padding-top: 20px;
  border-top: 2px solid #d7d7d7;
  box-sizing: border-box;
}

.footer-copyright-a{
  font-size: 14px;
  color: #6e6e6e;
}

/*弹出层*/
.mask{}
.mask-bg{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: #000000;
  opacity: 0.6;
  z-index: 1000;
}
.mask-img{
  width: 313px;
  height: 449px;
  position: fixed;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  margin-top: -224px;
  margin-left: -157px;
  z-index: 1001;
}


